# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
tinyexpr - https://github.com/codeplea/tinyexpr# - zlib License

# -------------------------------------------------------
_*/
_*

*.user

build-mks-bulletml-interpreter-Desktop-Debug/
build-mks-bulletml-player-Desktop-Debug/
build-mks-bulletml-interpreter-Win-Desktop-Debug/
build-mks-bulletml-interpreter-Win-Desktop-Release/
build-mks-bulletml-player-Win-Desktop-Debug/
build-mks-bulletml-player-Win-Desktop-Release/

.qtc_clangd/
